<div class="row">
<div class="col-md-12 col-lg-6 fighterSearch">
<h1>
	Fighter Search
</h1>
<select size=10 ng-model="mainCtrl.currentFighterID" ng-click=mainCtrl.fighterSearch()
		ng-options="fighter.id as (fighter.first_name + ' ' + fighter.last_name) group by fighter.weight_class for fighter in mainCtrl.fighterList | nullWeightClass"> 
		<option value="">Search</option>
</select>
<form action="">
	<div class="form-group">
		<h3>Weight Class:</h3>
		<div>
		<label for="featherweight">Featherweight</label>
		<input type="checkbox" id="featherweight" ng-model="mainCtrl.weightClass.Featherweight" ng-click=mainCtrl.options()>
		</div>
		<div>
		<label for="bantamweight">Bantamweight</label>
		<input type="checkbox" id="bantamweight" ng-model="mainCtrl.weightClass.Bantamweight" ng-click=mainCtrl.options()>
		</div>
		<div>
		<label for="welterweight">Welterweight</label>
		<input type="checkbox" id="welterweight" ng-model="mainCtrl.weightClass.Welterweight" ng-click=mainCtrl.options()>
		</div>
		<div>
		<label for="heavyweight">Heavyweight</label>
		<input type="checkbox" id="heavyweight" ng-model="mainCtrl.weightClass.Heavyweight" ng-click=mainCtrl.options()>
		</div>
		<div>
		<label for="flyweight">Flyweight</label>
		<input type="checkbox" id="flyweight" ng-model="mainCtrl.weightClass.Flyweight" ng-click=mainCtrl.options()>
		</div>
		<div>
		<label for="women_featherweight">Women's Featherweight</label>
		<input type="checkbox" id="women_featherweight" ng-model="mainCtrl.weightClass.Women_Featherweight" ng-click=mainCtrl.options()>
		</div>
		<div>
		<label for="lightweight">Lightweight</label>
		<input type="checkbox" id="lightweight" ng-model="mainCtrl.weightClass.Lightweight" ng-click=mainCtrl.options()>
		</div>
	</div>
</form>
</div>


<div class="col-md-12 col-lg-6 fighterProfile">
	<h2>{{ (mainCtrl.currentFighter.first_name + ' ' + mainCtrl.currentFighter.last_name) }}</h2>
	<img ng-src="{{ mainCtrl.currentFighter.profile_image }}">
</div>
</div>